@import"medias",
"footer";


h1 {
    color: black;
    text-align: center;

}



h2 {
    color: black;
}

p {
    color: black;
}

div {
    display: block;
}

body {
    background-color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;



}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.iconos {
    height: 50px;
}

.imagen {
    width: 50%;
}


.titulor8 {
    text-align: center;
}


.audir8portada {

    margin-top: 0;
    width: 100%;
}




.img1 {
    border-radius: 10px;
}

.img12 {
    border-radius: 10px;
    height: 400px;


}


.tituloo {
    text-align: center;
    font-weight: 400;
}

.titulooo {
    text-align: center;
    font-size: 20px;
    font-weight: 400;

}


p {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}





.parrafo-principal {
    text-align: center;
    margin-bottom: 10px;

}

.tituloo {

    text-align: center;
}

.titulo {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-top: 0;
    font-weight: 400;
}



.tituloo {
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
}


.parrafo-dos {
    margin-left: 400px;
}


.medianas-uno {
    width: 50%;
    font-size: 30px;

}


.concesionarios1 {
    display: flex;
    width: 100%;
    display: block;
}






.menu {
    list-style: none;
    padding: 0;
    background: #000;
    width: 100%;
    margin: 0px;
    margin-top: -5px;






}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    padding-left: 2.0%;
    padding-right: 7px;
    margin-right: 0;
    justify-content: center;



}

.menu li a {
    display: inline-block;
    text-align: center;



}

.menu li a:hover {
    background: #828A88;


}


img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;

}

img:hover {
    transform: scale(1.02);


}


.mapa {
    width: 80%;
    margin: 0 auto;
    margin-left: 10%;

}

.mape {
    margin-left: 10%;
    margin-right: 10%;
    border-top: 15px;
    text-align: center;
}

.cercadeti {

    text-align: justify;
    font-size: 30px;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pubi {

    text-align: justify;
    font-size: 18px;
    width: 60%;
    margin-left: 20%;
    margin-right: 5%;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    color: rgb(34, 34, 34)
}





.parrafoaccesorios {
    width: 900px;
    margin-left: 180px;
    height: 5px;
}

.AccesoriosOriginales {
    margin-left: 400px;
}


.ignacioo {
    width: 200px;
    margin-left: 13%;
    display: inline-block;
    height: 350px;
    margin-top: 10px;

}


.ignacio {
    width: 200px;
    margin-left: 13%;
    display: inline-block;
    height: 350px;
    margin-top: 0;
}

.bon {
    width: 200px;
    margin-left: 13%;
    display: inline-block;
    height: 350px;
    margin-top: 0;
}


.ignacio {
    border: 2px solid black;

}

.ignacioo {
    border: 2px solid black
}

.bon {
    border: 2px solid black
}


.escribinos {
    width: 300px;
    border: 1px solid black;
    margin-left: 75%
}

.mail {
    width: 300px;
    border: 1px solid black;
    margin-left: 75%
}

.dosase {
    width: 100%;
}

.asesores {
    max-width: 500px;
    margin-left: 2%;
    text-align: justify;
    font-size: 20px;
    padding-top: 40px;
    padding-right: 0;
}


.modelos1 {
    max-width: 300px;
}

.asesorespar {
    max-width: 800px;
    margin-left: 2%;
    text-align: justify;
    font-size: 20px;
    padding-right: 0;

}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 3);
}



.port {
    font-size: 15px;
}



.cinta {
    width: 350px;
    margin-left: 5%;
    display: inline-block;
    margin-top: 5%;


}



.freno {
    width: 350px;
    margin-top: 5%;
    margin-left: 5%;
    display: inline-block;

}

.ambos {
    text-align: justify;
    font-size: 13px;

}

.mantenimiento-1 {
    width: 400px;
    margin-top: 20px;
    margin-left: 5%;
    display: inline-block;
    bottom: 30px;

}


.video {
    height: 200px;
    width: 80%;
    margin-left: 10%;
    margin: right 10%;



}





.manodeobra {
    text-align: center;
    font-size: 1.4rem;
    margin-left: 10%;
    margin-right: 10%;


}


.footer {
    background-color: #000;
    height: 200px;
    display: flex;

}




.fondopor {
    background-image: url(../img/audir8.jpg);
    height: 436px;
    width: 100%;
    margin-top: 120px;


}



.desarmado {

    height: 500px;
    width: 100%;
    border: 3px solid black;

}

.r81 {
    text-align: center;
    font-family: Verdana, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-top: 40px;
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.r82 {
    text-align: center;
    font-family: Verdana, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-top: 130px;
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding-top: 18px;
}

.r8p {
    font-family: Verdana, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;

}


.cont-temporizador {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.cont-temporizador .bloque {
    margin: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-temporizador .bloque div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 80, 80);
    box-shadow: 0px 0px 6px 2px #727272 inset;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    border-radius: 5px;

}

.cont-temporizador .bloque p {
    font-size: 11px;
    font-weight: bold;
    color: #d6d6d6;
}

.tecnologias {
    background-color: #000;
    margin-top: 30px;
    height: auto;

}


.tecrepuestos {
    font-size: 15px;
    text-align: justify;
    margin-left: 5%;
    color: white;
    margin-right: 5%;
    height: 100%;
    line-height: 1.5;
}

.fondopor {
    margin-top: 20px;
}


.trep {
    color: white;
    font-size: 30px;
    font-stretch: 130%;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.54px;
    margin-left: 5%;
    line-height: 1.5;

}


img {
    max-height: 500px;


}

.sermant {
    width: 350px;
    padding-left: 40px;
    display: inline-block;
    text-align: justify;
    position: relative;
    padding-top: 0;
    padding-bottom: 20px;
    padding-right: 0;

}

.diinter {
    color: white;
    font-size: 24px;
    font-stretch: 130%;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.54px;
    padding-left: 5%;
    font-family: "Segoe IU", sans-serif;
    line-height: 1.3;
    margin-top: 10px;



}

.parinte {
    font-size: 15px;
    text-align: justify;
    margin-left: 5%;
    color: white;
    margin-right: 5%;
    height: 80px;
    letter-spacing: -0.015em;
    width: 70%;
    line-height: 1.3;
    height: 100%;

}

.prinvol {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

.nostiu {
    height: 450px;
}

h5 {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}


.cont {
    cursor: pointer;
    border: 2px solid #828A88;
    padding: 8px 25px;
    color: black;
    border-radius: 5px;
    background-color: #828A88;
    text-decoration: none;
    justify-content: center;

}

.cont:hover {
    background-color: #4C5250;

}

.botoncon {
    cursor: pointer;
    border: 2px solid #828A88;
    padding: 10px;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    background-color: #828A88;
    text-decoration: none;
    margin-bottom: 15px;



}

.botoncon:hover {
    background-color: #4C5250;

}


.container-fluid {
    background-color: #FFFFFF;
    margin-top: 0;

}



.flex {
    height: 100%;
    padding-left: 7%;
    padding-right: 4%;



}

.mercadolibre {

    display: inline-block;
    margin-left: 5%;
    list-style-type: none;
    margin: 0;
    font-size: 1rem;
    text-decoration: none;

}

.Redes-sociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    justify-content: center;
    padding-left: 50px;
    color: #fff;
}



.footer-contenedor {
    display: flex;
    color: #000;
    flex-wrap: wrap;
}

.footer-contenedor1 {
    display: flex;
    flex-wrap: wrap;

}


.modelos {

    width: 300px;
    text-align: justify;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 20px;
    line-height: 1.5;
    color: #fff;


}

.pfot {
    text-align: justify;
    padding-left: 10px;
    margin-right: 0;
    width: auto;
    color: #fff;
}

.ulfooter {
    display: block;
    text-decoration: none;
    font-size: 15px;
    padding-left: 15px;
    color: #fff;
}

.model {

    width: 20%;
    text-align: justify;
    font-size: 20px;
    padding-left: 10px;

}

.model1 {

    width: 20%;
    text-align: justify;
    font-size: 20px;
    padding-left: 10px;

}

footer {

    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}


a {

    text-decoration: none;
    color: #fff;
}



.contenedorinn {

    display: flex;
    flex-direction: column;
}

.innflex {
    display: flex;
    justify-content: center;
    padding: 0% 10%;
}

.audiinnovacion {
    padding-top: 40px;
}

.coche1 {
    padding-top: 0px;
    font-size: 10px;


}


.contenedorsistemas {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    padding-bottom: 0px;

}


.imga {
    max-width: 350px;
    border-radius: 5px;

}

.bloquesistemas {
    display: flex;
    align-items: center;
    align-items: center;
    padding: 10px 10px;
    flex-direction: column;

}

.paudi1 {

    font-size: 13px;
    padding-top: 0;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
    padding-right: 10px;

}

.logo {
    width: 100px;

}




.cochelado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.cercadeti {
    font-weight: 400;
}


.cocheladoren {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

.imagenlado {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 30px;
    flex-wrap: wrap;

}



.pa1 {
    max-width: 400px;
    text-align: justify;
    margin-left: 8px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-right: 8px;
    margin-right: 5px;
}

.pa3 {
    max-width: 400px;
    text-align: justify;
    margin-left: 8px;
    margin-bottom: 20px;
    font-size: 11px;
    padding-right: 8px;
    margin-right: 5px;
}


.pa {
    max-width: 400px;
    text-align: justify;
    margin-left: 8px;
    padding-top: 0px;
    font-size: 15px;
    padding-right: 8px;
    margin-right: 5px;
}



.pa123 {
    max-width: 400px;
    text-align: justify;
    margin-left: 8px;
    padding-top: 0px;
    font-size: 10px;
    padding-right: 8px;
    margin-right: 5px;
}



.texth2 {
    margin-top: 0px;
    text-align: justify;
    margin-left: 8px;
    font-weight: 400;
    color: #909098;
}

.texth3 {

    color: #909098;
    margin-top: 20px;
    padding-left: 10px;
}



.direccion {
    max-width: 300px;
    border: 1px solid black;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}




.botoncon1 {
    background-color: transparent;
    width: 200px;
    margin-bottom: 10px;
    color: #000;
    padding-top: 7px;
    margin-left: 20px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    border: 2px solid black;
}

.botoncon12 {
    background-color: transparent;
    width: 200px;
    margin-bottom: 40px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    color: #000;
    border: 2px solid black;
    margin-top: 15px;
    padding-top: 7px;
}

.botoncon12:hover {
    background-color: #909098;
    color: white;
}

.botoncon1:hover {
    background-color: #909098;
    color: white;
}

.min {
    max-width: 500px;
    border-radius: 5px;
}

.min1 {
    max-width: 400px;
    border-radius: 5px;
}

ul {
    list-style-type: none
}



.pbloque {
    text-align: justify;
    padding-bottom: 10px;

}

.tbloque {
    text-align: justify;
    font-size: 18px;
    padding-top: 10px;
    color: #909098;

}



.contenedor1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;



}

.bloque1 {
    display: flex;
    align-items: center;
    margin: 0px 3px;
    align-items: center;
    padding: 0px 5px;
    flex-direction: column;
    max-width: 400px;
    padding-bottom: 30px;


}

.bloque123 {
    display: flex;
    align-items: center;
    margin: 0px 3px;
    align-items: center;
    padding: 0px 5px;
    flex-direction: column;
    max-width: 600px;
    padding-bottom: 30px;
}


.titulo {
    color: #434347;
}


.prepuestos {

    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


.contenedormercado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;



}

.mercadolibre1 {
    background-color: #afafb6;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.tmerc {
    text-align: center;
}

.derechos {
    color: white;
    font-size: 10px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.linea {
    background-color: #fff;
    height: 2px;
    opacity: 1;
}


.audir8portada {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.audir8portada:hover {
    transform: none;
}




.carousel-item {
    width: 100%;
}

.nav-item {
    padding-right: 5px;
    padding-left: 6px;
}

.pruebas-choque {
    text-align: center;
    font-size: 13px;
    text-align: justify;
    margin: 20px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;

}

.titulo-prueba {
    text-align: center;
    font-size: 25px;
    margin-top: 0px;

}

.bateriaaudi {
    max-width: 980px;

}

.bateria-contenedor {
    display: flex;
    justify-content: center;
}

@media(max-width: 800px) {
    .pruebas-choque {
        margin-left: 5px;
        margin-right: 10px;


    }
}

.contenedor-noticias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.bloque-noticias {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 15px;
    background-color: #C6C6CE ;
    border-radius: 5PX;
}

.noticias-p {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: #272424;
}

.img-noticias:hover {
    transform: none;
}
