.footer-contenedor {
    display: flex;
    color: #000;
    flex-wrap: wrap;
}

.footer-contenedor1 {
    display: flex;
    flex-wrap: wrap;

}

.modelos {

    width: 300px;
    text-align: justify;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 20px;
    line-height: 1.5;
    color: #fff;


}

.pfot {
    text-align: justify;
    padding-left: 10px;
    margin-right: 0;
    width: auto;
    color: #fff;
}

.ulfooter {
    display: block;
    text-decoration: none;
    font-size: 15px;
    padding-left: 15px;
    color: #fff;
}

.model {

    width: 20%;
    text-align: justify;
    font-size: 20px;
    padding-left: 10px;

}

.model1 {

    width: 20%;
    text-align: justify;
    font-size: 20px;
    padding-left: 10px;

}

footer {

    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}


a {

    text-decoration: none;
    color: #fff;
}