@media(max-width: 500px) {
    .titulo {
        font-size: 20px;
        margin-top: 15px;
    }
}

@media(max-width: 500px) {
    .tecnologias .trep {
        font-size: 20px;
    }
}

@media(max-width: 800px) {
    .logo {
        width: 120px;
        justify-items: center;
        justify-content: center;
    }
}

@media(max-width: 500px) {
    .dosase p {
        font-size: 13px;
    }
}

@media(max-width: 500px) {
    .dosase h3 {
        font-size: 17px;
    }
}


@media(max-width: 500px) {
    .footer-contenedor p {
        font-size: 10px;
        margin-left: 0;
    }
}


@media(max-width: 800px) {
    div .modelos {
        max-width: 120px;
    }
}




@media(max-width: 800px) {
    div .Redes-sociales {
        display: block;
        width: 100%;
        margin-left: 5px;
        padding-left: 5px;
    }
}

@media(max-width: 800px) {

    .footer-contenedor li,
    ol,
    a {
        font-size: 12px;
        margin-left: 0;
        justify-content: flex-start;
    }
}

@media(max-width: 800px) {
    .footer-contenedor h3 {
        font-size: 14px;
        margin-left: 0;
        justify-content: flex-start;

    }
}


@media(max-width: 800px) {
    .pubi {
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 15px;

    }
}

@media(max-width: 800px) {
    .footer-contenedor .Redes-sociales {
        font-size: 13px;
        padding-bottom: 15px;

    }
}

@media(max-width: 800px) {
    .footer-contenedor .pfot {
        margin-right: 8px;
        margin-left: 5px;

    }
}


@media(max-width: 800px) {
    .footer-contenedor ol {
        margin-left: 0;
        padding-left: 0;

    }
}

@media(max-width: 800px) {
    .footer-contenedor1 .modelos {
        max-width: 200px;

    }
}

@media(max-width: 800px) {
    .footer-contenedor1 .modelos1 {
        width: 100%;
        margin-right: 0;
        font-size: 10px;

    }
}



@media(max-width: 500px) {
    .tecnologias h3 {
        font-size: 16px;

    }
}


@media(max-width: 500px) {
    .prinvol {
        font-size: 14px;
        margin-bottom: 0;
        padding-bottom: 0px;


    }
}



@media(max-width: 500px) {
    .tecnologias p {
        font-size: 14px;
        margin: 0 0;
        padding-right: 0;

    }
}

@media(max-width: 500px) {
    .tecnologias .tecrepuestos {
        font-size: 15px;
    }
}




@media(max-width: 500px) {
    .parrafo-principal {
        font-size: 14px;
    }
}



@media(max-width: 500px) {
    .prepuestos {
        font-size: 14px;
        padding-right: 5px;

    }
}

@media(max-width: 500px) {
    .pbloque {
        font-size: 14px;
    }
}

@media(max-width: 500px) {
    .cochelado .pa1 {
        font-size: 14px;
    }
}

@media(max-width: 500px) {
    .cochelado .pa3 {
        font-size: 14px;
    }
}


@media(max-width: 500px) {
    .cocheladoren .pa1 {
        font-size: 14px;
    }
}

@media(max-width: 500px) {
    .innovacionp {
        font-size: 16px;

    }
}




@media(max-width: 500px) {
    .trep {
        font-size: 15px;
    }
}


@media(max-width: 900px) {
    .todo .pubi {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;

    }
}

@media(max-width: 900px) {
    div .mapa {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;

    }
}




@media(max-width: 900px) {
    .todo .cercadeti {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 25px;
        margin-left: 5px;
        color: darkslategrey;

    }
}

@media(max-width: 800px) {
    .tecnologias .parinte {
        padding-right: 5px;
        padding-left: 2px;
        width: 100%;
        margin-right: 0;
        margin-left: 0;

    }
}

@media(max-width: 500px) {
    .tecnologias .tecrepuestos {
        font-size: 12px;
        text-align: justify;
        margin-left: 3px;
        color: white;
        margin-right: 3px;
        line-height: 1;

    }
}


@media(max-width: 800px) {
    .pruebas-choque  {
       margin-left: 10px;
       margin-right: 10px;
  

    }
}